.container {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 20px; 
}

.item {
    background-color: #a9c8f2;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
}


.item1 {
    grid-column-start: 1;
    grid-column-end: 3;  
    grid-row-start: 1;
    grid-row-end: 2;
}


.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 2;
    grid-row-end: 3;
}
