* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
    var(--bg-image)
    no-repeat center/cover;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.auth-box {
  width: 380px;
  background: rgba(0,0,0,.75);
  padding: 40px 32px;
  border-radius: 6px;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: none;
  background: #333;
  color: #fff;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #e50914;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.switch {
  margin-top: 20px;
  color: #bbb;
}

.switch span {
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Movie */
.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.movie-card {
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  border-radius: 6px;
}
