.container{
    display: grid;
    grid-template-columns: auto auto auto ;
}
.item1, .item6, .item8{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 3;
}
div{
    padding: 10px;
    border: 1px solid black;
}