h1,p {
    display:flex;
    justify-content: center;

    
}
h1{
    margin: 0;
}
p{
    margin: 0;
}
.top{
    background-color: #33A1E0 ;
}

ul{
    display:flex;
    gap : 20px;
    list-style-type: none;
    justify-content: center;
    background-color: #1C6EA4;
    margin : 0;
    height : 50px;
    align-items:center;
}

a{
    color: white;
    text-decoration: none;
}
.parents{
    display: flex;
}