* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--main-bg);
    display: flex;
    height: 100vh;
    overflow: hidden;
    color: var(--text-dark);
    transition: background 0.3s;
}